<!--
  Generated template for the ProductList component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div *ngIf="products" >
  <!--{{slides.images.src}}-->
  <!--<div *ngFor="let k of images" ></div>
  {{k}}
   </div>-->
       <!--<ion-row>
        <ion-col>
            <h4 class="name">John Smith</h4>
            <p class="twittername">@johnsmith</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis ultrices quam, at interdum ante.</p>
        </ion-col>
    </ion-row>-->
    <ion-row>
        <ion-col width-50 *ngFor="let k of products">
            <ion-card (click)="gotoDetails.emit(k)">
              <img style="width:100%" src="{{k.images[0].src}}"/>
              <ion-card-content>
                <ion-card-title>
                  {{k.categories[0].name}}
                </ion-card-title>
                <p>
                  {{k.name}}
                </p>
                <p style="color:#cf000f; font-weight:900">Rp {{k.price| number}}</p>
              </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
   
   <!--{{images.toString()}}-->
   </div>